body {
    margin: 0;
    padding: 0;
    background-color: rgb(37, 37, 37);
}

.main {
    background-color: rgb(131, 130, 130);
    border-radius: 15px;
    padding: 15px;
    display: grid;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main h2 {
    color: white;
    text-align: center;
}

.input-box {
    position: relative;
}

.input-box input {
    margin: 10px 0;
    color: white;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    background: transparent;
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
}

.input-box label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    transition: .5s;
    pointer-events: none;
    color: white;
}

.input-box input:focus ~ label, .input-box input:valid ~ label {
    top: -20px;
    font-size: 12px;
}

.main form input[type = submit] {
    padding: 5px 10px;
    background-color: lightblue;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}